Flask==3.0.3
Flask-Limiter==3.8.0
prometheus-client==0.20.0
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-exporter-otlp==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-flask==0.46b0
opentelemetry-instrumentation-requests==0.46b0
pybreaker==1.0.2
requests==2.32.3
python-json-logger==2.0.7
gunicorn==22.0.0
setuptools==75.1.0
